<html>
    <head>
    <title>CURRICULUM VITAE</title>

    </head>
    <body>
    <h1 align=center>CURRICULUM VITAE</h1>
    <!--INFORMASI DATA DIRI-->
        <hr>
        <b>PERSONAL INFORMATION</b>
        <hr>
        <table style="width:50%">
            <!--FOTO-->
            <img src="static/foto.jpeg" align="center" width="104" height="142">
       
        <tr>
        <th></th>
        <th></th>
        </tr>
        <tr>
            <td>Nama Lengkap</td>
            <td>: Sandy Tirta Pratama </td>
        </tr>
        <tr>
            <td>Tempat Tanggal Lahir</td>
            <td>: Demak, xx Agustus 2001 </td>  
        </tr>
            <td>Alamat</td>
            <td>: Desa Bandungrejo,Mranggen</td>
        <tr>
            <td>Status</td>
            <td>: Mahasiswa</td>
        </tr>
            <tr>
            <td>NO HP</td>
            <td>: 6289685xxxxx</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>: 111202013063@mhs.dinus.ac.id</td>
        </tr>
        </table>
    <!--RIWAYAT PENDIDIKAN FORMAL-->  
            <hr>
            <b>PENDIDIKAN FORMAL</b>
            <hr>
                <table style="width:80%">
            <tr>
            <th></th>
            <th></th>
            </tr>
            <tr>
                <td>2020-Now</td>
                <td>Universitas Dian Nuswantoro</td>
            </tr>
            <tr>
                <td>2017-2020</td>
                <td>SMA N 2 Mranggen</td>
            </tr>
            <tr>
                <td>2014-2017</td>
                <td>MTs Negeri 1 Semarang</td>  
            </tr>
                <td>2007-2014</td>
                <td>SD Terpadu Darunnajah</td>
            <tr>
                <td>2005-2007</td>
                <td>TK Kemala Bhayangkari 37</td>
            </tr>
            </table>
    <!--RIWAYAT PENDIDIKAN INFORMAL-->      
                    <hr>
                    <b>PENDIDIKAN INFORMAL</b>
                    <hr>
                        <table style="width:110%">
                    <tr>
                    <th></th>
                    <th></th>
                    </tr>
                    <tr>
                        <td>2023</td>
                        <td>Orbit Future Academi - AI Mastery</td>
                    </tr>
                    
                    </table>
    
    <!--KEAHLIAN YANG DIMILIKI-->                  
                            <hr>
                            <b>KEAHLIAN</b><hr>
                        Membuat web sederhana<br>
                        Bahasa pemograman : java & python<br>
                        Mengoperasikan Komputer : Microsoft Excel<br>
                        Mengoperasikan Komputer : Microsoft Word<br>
                        

    
    </body>
</html>
